@font-face {
    font-family: 'Exo 2';
    src: url("../fonts/Exo_2/static/Exo2-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Exo 2';
    src: url("../fonts/Exo_2/static/Exo2-Bold.ttf");
    font-weight: 700;
}